<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <p>Hi
      <b>
        {{businessName}}
      </b>
    </p>
    <p>{{message}}</p>
    <p>Click the link below </p>

    <a href="{{link}}">{{linkMessage}}</a>
  </body>
</html>