<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <p>Hi {{name}},</p>
    <p>Welcome to {{businessName}} </p>
    <p> The only and fastest VTU service</p>
    <p> You can easily login to your account using the below link</p>
    <p>Your username is {{userName}}</p>
    <a href="http://{{link}}">Login</a>
    <p>For easy topping up of your wallet or for any enquires. DataReloaded has
      created a whatapp group for that. Kindly join us now</p>
    <a href="https://chat.whatsapp.com/CLsrIxOm4k7HK5nTf9M3WZ">JOIN WHATSAPP
      GROUP</a>

  </body>
</html>