<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <p>Hi {{name}},</p>
    <p>You have successfully reset your password.</p>
    <p> Please, click the link below to login</p>
    <a href="http://{{link}}">Login Now</a>
  </body>
</html>