<html>
  <head>
    <style>
      .userName{ font-weight: bold; color: #3c763d;}
    </style>
  </head>
  <body>
    <p class="userName">Hi {{name}},</p>
    <p>Congratulation!!!, You have successfully upgraded to a partner with us!!!</p>
    <p> Please, click the link below to login and start earning unlimitedly</p>
    <a href="http://{{link}}">Login</a>
    <br />
    <a href="http://{{link}}/profile/partnership">Check FAQ</a>

  </body>
</html>