@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif ;
    overflow-x: hidden;
    min-width:100vw;
}

header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
}

header .top-header {
    background-color: #301099;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem;
    z-index: 1000;
}
header .hamburger-img {
    height: 40px;
    width: 50px;
}
header .hamburger-img.close {
    height: 25px;
    width: 28px;
    margin-right: 10px;
}

.none {
    display: none;
}

.flex {
    display: flex;
}

.navbar {
    flex-direction: column;
    background-color: #fff;
    animation-name: navbar;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
    box-shadow: 0px 2px 2px 2px #333;
}

.desktop-navbar {
    display: none;
}


@keyframes navbar {
    0% {
        opacity: 0.7;
        margin-top: -20rem;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}

.navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.navbar ul li {
    list-style: none;
    border-top: 1px solid #ccc;
    width: 100%;
}

.navbar ul li, a {
    text-decoration: none;
    padding: 1rem 1.5rem;
}

.site-name {
    color: #01bb20;
}

.header-orange {
    color: #f0a010;
}

.hero-section {
    background-image: url('../assets/gigabundle.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section h1 {
    color: #fff;
    font-size: 3rem;  
}

.green  {
    color: #01bb20;
}

.orange {
    color: #f0a010;
}

.hero-section p {
    color: white;
    line-height: 1.7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hero-section-contrast {
    background-color: #00000060;
    padding: 1rem;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.hero-section button {
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
}

.hero-section button img {
    height: 25px;
    width: 25px;
    object-fit: contain;
    
}

.register-buttons {
    display: flex;
    flex-wrap: wrap;
}

.hero-section button.bg-orange {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0a010;
    padding: .6rem 2rem;
    gap: .3rem;
    margin-right: 1rem;
    border: 1px solid #f0a010;
}

.hero-section button.bg-green {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #01bb20;
    padding: .6rem 2rem;
    gap: .3rem;
    border: 1px solid #01bb20;
}

.hero-section button.bg-green:hover {
    background: transparent;
    border: 1px solid #f0a010;
} 

.hero-section button.bg-orange:hover {
    background: transparent;
    border: 1px solid #f0a010;
}

.service-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    background: #fafaff;
}

.service {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.service-img {
    height: 30px;
    width: 30px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.automated {
    background-color: #01bb20;
    font-size: 14px;
    padding: .1rem .2rem;
    border-radius: .3rem;
}

.service-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.little-section {
    padding: 2rem 1rem;
}

.services-header {
    font-size: 2.5rem;
    font-weight: 400;
}

.services-paragraph {
    margin-top: .9rem;
    font-size: 18px;
    line-height: 1.7;
}

.section-whyus {
    display: flex;
    flex-direction: column;
}

.whyus-div {
    display: flex;
    flex-direction: column;
}

.whyus-text {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
}

.whyus-header {
    font-size: 2rem;
    font-weight: 400;
    color: #301099;
}

.whyus-paragraph {
    line-height: 1.6;
    margin-top: .8rem;
    margin-bottom: .8rem;
    color: #333;
    text-align: center;
}

.whyuslidiv img {
    margin-right: .6rem;
}

.whyuslidiv {
    display: flex;
    padding: .4rem 0rem;
    color: #301099;
}

.stat-div {
    display: flex;
    flex-direction: column;
}

.stat-img-div {
    display: flex;
    flex-direction: column;
}

.smartphone {
    height: 150px;
    width: 90px;
    align-self: flex-end;
    margin-top: -10rem;
}

.stat-text {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
}

.ourstats {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem 1rem;
    justify-content: center;
    align-items: center;
}

.ourstats-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
}

.ourstats-value {
    color: #301099;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.data-section-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 1.5rem 1rem;
    flex-direction: column;
}

.data-header-text {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}

.data-pricing-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 90vw;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border-radius: .5rem;
}

.data-pricing-card img {
    height: 100px;
    width: 100px;
    margin-bottom: 1rem;
}

.mtn-data-card {
    background-color: #ffb700;
}

.airtel-data-card {
    background-image: linear-gradient(to bottom, #ff0074, #f20);
}

.glo-data-card {
    background-image: linear-gradient(to bottom, #0aff05, #008800 );
}

.network-name {
    margin-bottom: 1rem;
}

.data-price-line {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0rem;
    width: 80vw;
    border-top: 1px solid #ddd;
}

.data-quantity {
    font-weight: 800;
    text-transform: uppercase;
}

.data-price {
    font-weight: 800;
    font-style: italic;
}

.data-duration {
    font-style: italic;
}

.order-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    width: 80vw;
    background-color: #fff;
}

.order-mtn {
    color: #f06010;
    border-radius: .5rem;
}

.testimonial-section-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem 1rem;
}

.testimonial-img-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.testimonial-img {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    border-radius: 50%;
}

.carousel-round {
    display: flex;
    margin-top: -6rem;
    align-self: flex-end;
    margin-bottom: 3rem;
}

.carousel-square {
    display: flex;
    margin-bottom: -6rem;
    align-self: flex-start;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mobile-download-section {
    border-bottom: 1px solid #333;
    padding: 5rem 0rem;
}

.mobile-download-section-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.download-image {
    display: flex;
    max-width: 90vw;
}

.ourpartner-section-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
    flex-direction: column;
}

.ourpartner-header {
    text-decoration: underline;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1.5rem;
    border: 1px solid #aaa;
    height: 70px;
    width: 110px;
}

.logo-img {
    height: 60px;
    object-fit: contain;
}

.logoswrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

footer {
    background: #020229;
    color: #fff;
    padding: 1.5rem 1rem;
}

.footer-contact-info {
    margin-top: 1rem;
}

.footer-contact-info span {
    font-weight: 700;
}

footer h2 {
    margin-bottom: 1rem;
}

footer p {
    margin-bottom: .5rem;
    line-height: 1.5rem;
}

footer li {
    list-style-type: none;
    margin-top: .5rem;
}

footer a {
    color: #fff;
}

.whylistbreak {
    display: none;
}


@media screen and (min-width:1000px) {
    .navbar {
        display: none;
    }
    header .hamburger-img {
        display: none;
    }
    .desktop-navbar{
        display: flex;
    }
    .desktop-navbar a {
        color: white;
    }
    .desktop-navbar a:hover {
        color: #00aaff;
        font-size: 20px;
    }
    .desktop-navbar ul {
        display: flex;
    }
    header .top-header {
        justify-content: space-around;
        padding: 1.5rem;
    }
    .hero-section-contrast{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-section-contrast p {
        max-width: 600px;
        text-align: center;
        margin: 1rem auto;
    }
    .hero-section-contrast h1 {
        justify-content: center;
        margin: 1rem auto;
    }
    .hero-section-contrast .register-buttons {
        margin: 1rem auto;
    }
    .service-section-div {
        display: flex;
        flex-direction: row-reverse;
        padding: 3rem 5rem;
        justify-content: space-between;
    }
    .little-section {
        max-width: 600px;
    }
    .service-wrapper{
        padding:0rem 6rem;
    }
    .section-whyus {
        display: flex;
        flex-direction: row-reverse;
    }
    .whyus-div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .whyus-img {
        width: 40%;
    }
    .stat-div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .stat-text {
        max-width: 500px;
    }
    .whyus-paragraph{
        max-width: 500px;
    }
    .footer-div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .footer-about {
        max-width: 320px;
    }
    .footer-contact-info{
        max-width: 400px;
    }
    .testimonial-img-sect {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .mobile-download-section-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 3rem;
    }

}